## Assignment 1

__Q.1.__ In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*

'hello'

-87.8

-

/

+

6

__Answer :-__

| Elements | Value/Expression |
| ----- | ----- |
| * | Expression |
| 'hello' | Value |
| -87.8 | Value |
| - | Expression |
| / | Expression |
| + | Expression |
| 6 | Value |

__Q.2.__ What is the difference between string and variable?

__Answer :-__

- String :-
    * A string is a collection of characters enclosed within single ' or " quotation marks.
    * String is of Sequence data type.
- Variable :-
    * A variable is a name to which any value can be assigned.
    * A variable can be of type integer or string or boolean etc.

__Example :-__

In [1]:
# Initializing a String

City = 'Mumbai'
State = "Maharashtra"

print(type(City), type(State))

<class 'str'> <class 'str'>

In [2]:
# Initializing a String type variable

City = 'Mumbai'

# Initializing a Integer type variable

Pincode = 400021

print(type(City), type(Pincode))

<class 'str'> <class 'int'>

__Q.3.__ Describe three different data types.

__Answer :-__

- Numberic Data Type :-
    * Represents the data that has a numeric value.
    * Numberic data types are :
        * Integers
        * Float
        * Complex
    
    
- String Data Type :-
    * A string is a collection of characters enclosed within single ' or " quotation marks.
    
    
- Boolean Data Type:-
    * Boolean data type have two values either True or False.
    * Used to determine whether logic of a comparison is correct.

__Examples :-__

**Numeric Data type Example :-**

In [3]:
#Integer Data Type
A = 67

#Floating Point Number
B = 17.56 

#Complex Number
C =  3 + 5j

print( f"{A} is {type(A)} data type \n{B} is {type(B)} data type \n{C} is {type(C)} data type")

67 is <class 'int'> data type
17.56 is <class 'float'> data type
(3+5j) is <class 'complex'> data type

__String Data type Example :-__

In [4]:
S = "Hello! This is my first Program" #Here S is string variable

print(f"{S} is a string data type")

Hello! This is my first Program is a string data type

__Boolean Data type Example :-__

In [5]:
A = 25
B = 33
C = 12

print(f"{A} > {B} Result is {A>B}\n{C} < {B} Result is {C<B}")

25 > 33 Result is False
12 < 33 Result is True

__Q.4.__ What is an expression made up of? What do all expressions do?

__Answer :-__

Expression is made up of values, containers, and mathematical operators (operands) and expressions are used to evaluate the values or represent the result on the screen.

In [6]:
# Statement

A = 35 + 62

In [7]:
# Expression

A * 2

194

__Q.5.__ This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

__Answer :-__

A statement does not yields any value.

In [8]:
# this is expression as it will yield 6 as answer

2 * 3

6

In [9]:
# a statement

A = 7

__Q.6.__ After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

__Answer:-__

In [10]:
bacon = 22

bacon + 1

23

After executing above codes its gives __23__.

__Q.7.__ What should the values of the following two terms be?

<font color = red >'spam'</font><font color = brown > + </font> <font color = red > 'spamspam'</font>

<font color = red >'spam'</font> <font color = brown > * </font> <font color = green > 3 </font>

__Answer:-__

In [11]:
'spam' + 'spamspam'

'spamspamspam'

In [12]:
'spam' * 3

'spamspamspam'

It will be the same after executting above codes.

__Q.8.__ Why is eggs a valid variable name while 100 is invalid?

__Answer:-__

- In python, there are some rules we need to follow when picking the name for a variable:-
    * The first character must start with an UPPERCASE or LOWERCASE letter of alphabet or UNDERSCORE(_)
    
    * Rest of the name can consist of UPPERCASE or LOWERCASE letter of alphabet or UNDERSCORE(_) or DIGITS(0-9)
    
    * Spaces are not allowed. Instead, use snake_case to make variable names readable.
    
    * Names are case-sensitive. myworld and myWorld are not the same.
    
    * The name of the variable should be something meaningful that describes the value it holds, instead of being random characters.
    
Therefore,

eggs a valid variable name while 100 is invalid.

__Example:-__

In [13]:
25 = "This is 25th Number"

SyntaxError: cannot assign to literal (<ipython-input-13-c74c9eb787f9>, line 1)

In [14]:
eggs = 36
eggs

36

__Q.9.__ What three functions can be used to get the integer, floating-point number, or string
version of a value?

__Answer:-__

This method of conversion is know as Explicit Type Conversion.

str(), int(), float()

__Example:-__

In [15]:
# string to integer

value = '25'    # string data type variable

int_form = int(value)   # we get an integer data type

print(type(value), type(int_form))

<class 'str'> <class 'int'>

In [16]:
# string to float

value = '31.21'    # string type

float_form = float(value) # we get float point number

print(type(value), type(float_form))

<class 'str'> <class 'float'>

In [17]:
# integer to string

value = 62  # integer type

str_form = str(value)   # we get string data type

print(type(value), type(str_form))

<class 'int'> <class 'str'>

__Q.10.__ Why does this expression cause an error? How can you fix it?

<font color = red > 'I have eaten'</font> <font color = brown > + </font> <font color = green >99</font> <font color = brown > + </font> <font color = red > 'burritos.'</font>

__Answer:-__

Because 99 is an integer it cannot be concatenated with strings, if we have to concatenate it we need to do typecasting.

__Example:-__

In [18]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'