## Assignment 20

**Q.1.** Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named `test.txt`.

**Answer :-**

In [1]:
test1 = 'This is a test of the emergency text system,'
len(test1)

44

In [2]:
outfile = open('test.txt', 'wt')
outfile.write(test1)

44

In [3]:
outfile.close()

**Q.2.** Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

**Answer :-**

In [4]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()

In [5]:
len(test2)

44

In [6]:
test1 == test2

True

**Q.3.** Create a CSV file called `books.csv` by using these lines:

title,author,year  
The Weirdstone of Brisingamen,Alan Garner,1960  
Perdido Street Station,China Miéville,2000  
Thud!,Terry Pratchett,2005  
The Spellman Files,Lisa Lutz,2007  
Small Gods,Terry Pratchett,1992

**Answer :-**

In [7]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

**Q.4.** Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

**Answer :-**

In [8]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('create table book (title varchar(20), author varchar(20), year int)')
db.commit()

**Q.5.** Read books.csv and insert its data into the book table.

**Answer :-**

In [9]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', db, if_exists='append', index = False)

**Q.6.** Select and print the title column from the book table in alphabetical order.

**Answer :-**

In [10]:
curs.execute('select title from books order by title asc')
print(curs.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

**Q.7.** From the book table, select and print all columns in the order of publication.

**Answer :-**

In [11]:
curs.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(curs.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

**Q.8.** Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

**Answer :-**

In [12]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**Q.9.** Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

**Answer :-**

In [13]:
#pip install redis

In [14]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

<ipython-input-14-64969eab0634>:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

True

In [15]:
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

**Q.10.** Increment the count field of test and print it.

**Answer :-**

In [16]:
conn.hincrby('test','count', 3)

4

In [17]:
conn.hget('test', 'count')

b'4'